---
import Divider from "../Divider.astro";
import Section from "./Section.astro";
---
<main class={"px-16 py-20 flex flex-col flex-1 h-full gap-10 border-l-4 border-zinc-800"}>
    <h1 class={"text-6xl font-bold"}>Egor Muzychkin</h1>
    <Divider color={"dark"}/>
    <Section title={"Objective"}>
        <p><strong>Desired position</strong>: middle web-developer.</p>
    </Section>
    <Section title={"Education"}>
        <p>Francisk Skorina Gomel State University.</p>
        <p><strong>Department</strong>: Mathematics and Programming Technologies.</p>
        <p><strong>Specialty</strong>: Economic cybernetics.</p>
    </Section>
    <Section title={"Experience"}>
        <h3 class="text-2xl font-semibold">Trainee (3 months)</h3>
        <p>I got acquainted with the development of web applications, as well as mobile development. I learned how to write unit and integration tests.</p>
        <h3 class="text-2xl font-semibold">Junior frontend developer (1 year — ITSupportMe)</h3>
        <p>User interface development, data processing and visualization, bugfix.</p>
        <h3 class="text-2xl font-semibold">Frontend developer (1 year — ВАРБ)</h3>
        <p>Development of software products.</p>

    </Section>
</main>
