---
interface Props {
    title: string
}
const {title} = Astro.props
---
<section class={"flex flex-col gap-5"}>
    <h2 class={"text-4xl font-bold"}>{title}</h2>
    <div class={"ml-3 sm:ml-5 md:ml-10"}>
        <slot/>
    </div>
</section>
