---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {LINKS} from "../content/config";
import About from "../components/about/About.astro";
const title = "Welcome to Astro!!!"

// const {links} = await Astro.glob("../content/config.ts")
---

<Layout title={title}>
    <About/>
    <main class="flex-1 h-full">
        <h1>Hello world</h1>
    </main>
</Layout>
