---
import Container from "./Container.astro";
---

<div
  class={"sticky top-0 left-0 w-full py-2 backdrop-blur-lg bg-slate-100/[0.3] dark:bg-slate-800/[0.3]"}
>
  <Container>app bar</Container>
</div>
