---
import Section from "../Section.astro";
import { useTranslations } from "@i18n/utils";
import technologies from "@content/technologies";
import { getTechsOrdered } from "../../../utils";
import { Image } from "@astrojs/image/components";
const t = useTranslations(Astro);
const techsOrdered = getTechsOrdered(technologies);
---

<Section title={t.tools.title}>
  <div class="flex flex-wrap justify-center gap-6">
    {
      techsOrdered.map((tech) => (
        <div class="flex flex-col gap-2 items-center">
          <Image
            src={`public/${tech.image}`}
            width={64}
            height={64}
            alt={tech.name}
            class={"object-contain"}
          />
          <span>{tech.name}</span>
        </div>
      ))
    }
  </div>
</Section>
